*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
.container{
    background-color: black;
    width: 100%;
    height: 810vh;
    color: white;
}
.bar{
    width: 100%;
    height: 750px;
    background-color: rgba(255, 255, 255, 0.693);
    background-image: url(Images/Best-Halloween-Movies-on-Hulu22.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.overlay{
   width: 100%;
   height: 100%;
   background-color: rgba(36, 34, 34, 0.781);
   display: flex;
   flex-direction: column;
   align-items: center;
}
.navbar{
    width: 100%;
    height: 85px;
    /* border: solid pink; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65%;
}
.img> img{
    width: 60%;
    height: 40%;
    /* border: solid brown; */
    margin-left: -50px;
}

.log{
    width: 7%;
    height: 40px;
    /* border: solid seashell; */
    text-align: center;
    padding-top: 10px;
    background-color: rgb(57, 50, 50);
}
.log> a {
    text-decoration: none;
    color: rgb(184, 183, 183);
}
.log> a:hover{
     color: white;
}
.log:hover{
    cursor: pointer;
    font-size: 15px;
    background-color: grey;
    color: white;
}

.mid2{
    width: 55%;
   height: 35%;
   /* border: solid green;  */
    display: flex;
    gap: 15px;
    margin-top: 70px;
    /* margin-left: 300px; */
    text-align: center;
}
.disney> h3{
    font-size: 13px;
    font-weight: bolder;
    color: rgb(35, 206, 112);
}
.disney{
    width: 55%;
    height: 250px;
    /* border: solid greenyellow; */
    text-align: center;
}
.disney> h4{
    font-size: 27px;
}
.disney> button{
    width: 95%;
    height: 40px;
    background-color: rgb(35, 206, 112);
    border: none;
    border-radius: 5px;
    margin-top: 30px;
}
.disney> button:hover{
    cursor: pointer;
    background-color:  rgba(35, 206, 112, 0.607);
}
.dis{
    width: 100%;
    height: 90px;
    /* border: solid fuchsia; */
    display: flex;
}
.image3{
    /* border: solid yellow; */
    margin-top: 10px;
    margin-left: 30px;
}
.image1{
    /* border: solid rgb(83, 83, 23); */
    width: 140px;
    height: 70px;
    margin-top: 12px;
}
.image2{
    width: 95%;
    height: 85px;
    /* border: solid burlywood; */
}
.overlay> a{
    color: rgb(186, 175, 175);
    font-size: 13px;
}
.overlay> h5> a{
    color: whitesmoke;
    font-size: 16px;
    font-weight: lighter;
}
.overlay> h5{
    padding-top: 3%;
}
.overlay> h6{
    font-size: 13px;
    padding-top: 4%;
}
.overlay> i{
    font-size: 80px;
    font-weight: 2px;
    color: gray;
    padding-top: 1%;
}
.overlay> i:hover{
    cursor: pointer;
}



.sect2{
    width: 100%;
    height: 160px;
    background-image: linear-gradient(rgb(71, 191, 123), rgb(22, 22, 22));
    text-align: center;
    padding-top: 2%;
}

.sect2> button{
    background-color: transparent;
    color: white;
    width: 20%;
    height: 50px;
    border: 2px solid white;
    border-radius: 5px;
    margin-top: 2%;
}
.sect2> button:hover{
    background-color: rgb(159, 148, 148);
    color: black;
    border: none;
}



.sect3{
    width: 100%;
    height: 1400px;
    text-align: center;
    padding-top: 100px;
    /* border-bottom: solid green; */
    background-color: rgb(14, 14, 14);

}
.sect3> h4{
    color:rgb(21, 161, 82) ;
    padding-bottom: 17px;
}
.sect3> h1{
    font-size: 50px;
    padding-bottom: 25px;
}
.sect3> p{
    font-size: 20px;
    padding-bottom: 75px;
}
.pic3{
    width: 100%;
    height: 500px;
    /* border: solid salmon; */
    display: flex;
    /* gap: 5px; */
    justify-content: space-around;
}
.trip3{
    width: 23%;
    height: 470px;
    /* border: solid darkblue; */
    background-image: url("Images/family guy.png");
    background-repeat: no-repeat; 
    background-position: center ;
    border-radius: 15px;
}
.trip31{
     width: 23%;
    height: 470px;
    /* border: solid darkblue; */
    background-image: url("Images/Prey.jpg");
    background-position: center top left right;
     border-radius: 15px;
}
.trip32{
     width: 23%;
    height: 470px;
    /* border: solid darkblue; */
    background-image: url("Images/shogun.jpg");
    background-position: center;
     border-radius: 15px;
}
.trip33{
     width: 23%;
    height: 470px;
    /* border: solid darkblue; */
    background-image: url("Images/Soprano.png");
    background-position: center;
     border-radius: 15px;
}
 .overlay3{
    width: 100%;
    height: 100%;
    background-color: rgba(16, 15, 15, 0.372);
    text-align: left;
    border-radius: 15px;
} 
.overlay3> h4{
     padding-top: 20px;
     padding-bottom: 10px;
     padding-left: 15px;
}
.overlay3> h2{
    padding-left: 15px;
}
.overlay3:hover{
       background-color: rgba(0, 0, 0, 0.698);
       border: 5px solid rgb(137, 124, 124);
       cursor: pointer;
}
.sect3> h5{
    text-align: right;
    padding-right: 40px;
    color: gray;
    font-size: 12px;
}

.live1{
    width: 100%;
    height: 530px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.live{
    width: 62%;
    height: 100%;
    margin-top: 85px;
    /* border: solid white; */
}
.live> h3{
     color:rgb(21, 161, 82) ;
     font-size: 16px;
     padding-bottom: 20px;
}
.live> h1{
    font-size: 57px;
    padding-bottom: 20px;
}
.live> p{
    font-size: 19px;
    padding-bottom: 25px;
    line-height: 25px;
}
.live> button{
     padding: 18px 35px;
     border-radius: 5px;
     background-color: rgb(61, 200, 122) ;
     font-size: 17px;
     border: none;
}
.live> button:hover{
    cursor: pointer;
    border: none;
    background-color: rgb(37, 104, 66) ;
    transition: 1s;
}



.sect4{
    width: 100%;
    height: 770px;
    background-image: url(Images/football2.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.738);
}
.overlay4{
    width: 100%;
    height: 100%;
    background-color: rgba(42, 187, 131, 0.508);
    display: flex;
}
.left{
    width: 45%;
    height: 65%;
    /* border: solid blanchedalmond; */
    margin-left: 14%;
    margin-top: 13%;
    padding-top: 30px;
}
.first{
    width: 100%;
    height: 40px;
    display: flex;
    gap: 15px;
    color: rgba(175, 173, 173, 0.545);
    font-size: 15px;
}
.first> h4:hover{
    cursor: pointer;
    border-bottom: 8px solid white;
    color: white;
}
.next{
    width: 78%;
    height: 90%;
    /* border: solid purple; */

}
.next> img{
    width: 100%;
    height: 20%;
    /* border: red solid; */
    margin-left: -8%;
}
.next> p{
    font-size: 11px;
    color: rgb(186, 186, 186);
    padding-top: 15px;
}
.next> h1{
    font-size: 50px;
    padding-bottom: 20px;
}
.right> img{
    margin-top: 30%;
    margin-left: 40px;
    /* border: solid gold; */
}



.sect5{
    width: 100%;
    height: 1500px;
    /* border-bottom: solid darkorange; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sect5> h1{
    font-size: 50px;
    padding-top: 80px;
    padding-bottom: 20px;
}
.sect5> p{
    font-size: 19px;
}
.sect5> h4{
    font-size: 20px;
}
.but5{
    display: flex;
    justify-content: center;
    background-color: rgb(36, 34, 34);
    width: 22%;
    height: 50px;
    gap: 5%;
    border-radius: 25px;
    margin-top: 55px;
}
.but5> button{
    padding: 5px 15px;
    border-radius: 20px;
    border: none;
    font-size: 13px;
    font-weight: bold;
    background-color: transparent;
    color: white;
}
.but5> button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    border-radius: 20px;
    border: none;
    font-size: 13px;
    font-weight: bold;

}



.contact{
    width: 100%;
    height: 550px;
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top{
    width: 100%;
    height: 48%;
    display: flex;
    gap: 40px;
    padding-left: 11%;
    border-bottom: 1px solid rgb(166, 166, 187);
}
.side{
    width: 11%;
    height: 85%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    /* border: solid violet; */

}
.side1{
    width: 100%;
    display: flex;
    gap: 46%;
    padding-bottom: 10px;
}
.side2{
    width: 40%;
    display: flex;
    gap: 25%;
}
.side1> h3{
    font-size: 15px;
    color: rgb(83, 79, 79);
    padding-left: 11%;
}
.side2> h3{
    font-size: 15px;
    color: rgb(81, 80, 80);
}
.side> a{
    color: rgb(118, 118, 157);
    text-decoration: none;
    font-size: 14px;
}
.icon{
    display: flex;
    gap: 40px;
    font-size: 25px;
    color: rgb(89, 89, 137);
    padding-top: 15px;
}
.text{
     display: flex;
     gap: 25px;
     padding-top: 17px;
}
.text> a{
    text-decoration: none;
    color: rgb(104, 104, 161);
    font-size: 13px;
}
.last{
    display: flex;
    gap: 25px;
    padding-top: 17px;
}
.last> a{
    text-decoration: none;
    color: rgb(104, 104, 161);
    font-size: 13px;
}